*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    /*display: block;*/
}


.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    padding: 20px;
}

.difSort {
    width: 500px;
    padding: 10px;
    margin: 0 auto;
}

.heroName {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.heroSpecies,
.heroLocation,
.heroCreated {
    text-align: center;
}

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}